@tailwind base;
@tailwind components;
@tailwind utilities;


    @font-face {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 100 900;
        font-display: optional;
        src: url(../public/fonts/NunitoSans.woff2) format("woff2");

    }
